<ul class="datafree-pager">
    <li ng-if="$pager.showFirst" ng-class="{'disabled': $pager.currentPage == 1}">
        <a href="javascript:void(0);" ng-click="$pager.currentPage > 1 && $pager.first()"
           ng-disabled="$pager.currentPage == 1"
           ng-class="{'disabled': $pager.currentPage == 1}">
            {{ $pager.firstLabel }}
        </a>
    </li>
    <li ng-if="$pager.showPrev" ng-class="{'disabled': $pager.currentPage == 1}">
        <a href="javascript:void(0);"  ng-click="$pager.currentPage > 1 && $pager.prev()"
           ng-disabled="$pager.currentPage == 1" ng-class="{'disabled': $pager.currentPage == 1}">
            {{ $pager.prevLabel }}
        </a>
    </li>
    <li ng-if="$pager.currentPage > $pager.numberLimit">
        <a href="javascript:void(0);" ng-click="$pager.skipBack();">
            &hellip;
        </a>
    </li>
    <li ng-repeat="number in $pager.numbers" ng-class="{'active': $pager.currentPage == number}">
        <a href="javascript:void(0);" ng-click="$pager.currentPage != number && $pager.page(number)"
           ng-class="{'active': $pager.currentPage == number}">
            {{ number }}
        </a>
    </li>
    <li ng-if="$pager.currentPage <= $pager.maxPages - $pager.numberLimit">
        <a href="javascript:void(0);"
           ng-click="$pager.skipForward();">
            &hellip;
        </a>
    </li>
    <li ng-if="$pager.showNext" ng-class="{'disabled': $pager.currentPage == $pager.maxPages}">
        <a href="javascript:void(0);" ng-click="$pager.currentPage < $pager.maxPages && $pager.next()"
           ng-disabled="$pager.currentPage == $pager.maxPages"
           ng-class="{'disabled': $pager.currentPage == $pager.maxPages}">
            {{ $pager.nextLabel }}
        </a>
    </li>
    <li ng-if="$pager.showLast" ng-class="{'disabled': $pager.currentPage == $pager.maxPages}">
        <a href="javascript:void(0);" ng-click="$pager.currentPage < $pager.maxPages && $pager.last()"
           ng-disabled="$pager.currentPage == $pager.maxPages"
           ng-class="{'disabled': $pager.currentPage == $pager.maxPages}">
            {{ $pager.lastLabel }}
        </a>
    </li>
</ul>